body{
    overflow: hidden;
}
.nopagefound{
    grid-area: main;
    height: 100vh;
    text-align: center;
    font-family: sans-serif;
}
.nopagefound .text{
    position: relative;
    top: 20%;
}
.nopagefound .text h1{
    font-size: 12rem;
}
.nopagefound .text p{
    font-size: 2rem;
}