
.App{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "header"
                       "main";
  background-color: var(--theme-green);
}

main{
  grid-area: main;
  height: 240vh;
}
main .introbackground{
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./assets/test.jpg);
  transform: scaleX(-1);
}
main .introbackground .intro{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  transform: scaleX(-1);
  border-bottom: var(--dark-green) 5px solid;
}
main .introbackground .intro .container{
  width: 80%;
  margin: 0 auto 120px auto;
  height: 60%;
  grid-column: 1;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
main .introbackground .intro .container h1{
  font-family: "DM Sans", serif;
  font-size: 5rem;
  letter-spacing: -5px;
  height: auto;
  
}
main .introbackground .intro .container p{
  font-size: 1.3rem;
  width: 90%;
}
main .introbackground .intro .container a{
  width: 60%;
  background-color: var(--dark-green);
  border: transparent;
  border-radius: 15px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin-top: 50px;
  cursor: pointer;
  font-family: sans-serif;
}
main .introbackground .intro .container a:hover{
  background-color: var(--light-green);
  border: 3px solid var(--dark-green);
}

main .articlebackground {
  background-color: var(--article-green);
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .articlebackground article{
  background: var(--dark-green);
  border-radius: 15px;
  height: 60%;
  width: 80%;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 47% 53%;
}
main .articlebackground article .circle{
  position: absolute;
  background-color: white;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  left: -110px;
  top: -65px;
  background-image: url(./assets/circlejpg.jpg);
  background-size: contain;
  transform: scaleX(-1);
  box-shadow: 0 0 50px rgba(255, 255, 255, 1);
}
main .articlebackground article p{
  grid-column: 2;
  text-align: center;
  color: white;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

main .banners{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banners .banner{
  height: 80%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease;
  cursor: pointer;
}
main .banners .banner:hover{
  transform: scale(1.05);
  transform: translateY(-15px);
  border-radius: 15px;
}
main .banners .banner:nth-of-type(1){
  background-image: url(./assets/test2.jpg);
  background-size: cover;
}
main .banners .banner:nth-of-type(2){
  background-image: url(./assets/test.jpg);
  background-size: cover;
}
main .banners .banner:nth-of-type(3){
  background-image: url(./assets/ocean.jpg);
  background-size: cover;
}
main .banners .banner:nth-of-type(4){
  background-image: url(./assets/tent.jpg);
  background-size: cover;
}
main .banners .banner:nth-of-type(5){
  background-image: url(./assets/waterfall.jpg);
  background-size: cover;
}
main .banners .banner:nth-of-type(6){
  background-image: url(./assets/test3.jpg);
  background-size: cover;
}
main .banners .banner{
  text-decoration: none;
}
main .banners .banner p{
  transform: rotate(-90deg);
  text-align: center;
  min-width: 400px;
  font-size: 3rem;
  color: white;
  font-family: sans-serif;
}

@media only screen and (min-width:950px) and (max-width: 1200px){
  main .introbackground .intro .container h1{
    font-size: 4rem;
  }
  main .introbackground .intro .container p{
   font-size: 1.5rem;
  }
  main .articlebackground article{
    grid-template-columns: 1fr;
 
  }
  main .articlebackground article .circle{
    display: none;
  }
  main .banners .banner{
    height: 80%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
    cursor: pointer;
  }
  main .banners .banner p{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 950px){
  main .introbackground .intro .container h1{
    font-size: 3rem;
  }
  main .introbackground .intro{
    grid-template-columns: 1fr;
  }
  main .introbackground .intro .container{
    background-color: rgba(241, 248, 244, 0.9);
    height: 60%;
    align-items: center;
    text-align: center;
  }
  main .articlebackground article .circle{
    display: none;
  }
  main .articlebackground article{
    grid-template-columns: 1fr;
  }
  main .articlebackground article p {
    font-size: 1.5rem;
  }
  main .historybackground article img{
    display: none;
  }
  main .historybackground article p{
    width: 70%;
    font-size: 1.1rem;
  }
  main .banners .banner{
    height: 80%;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
    cursor: pointer;
  }
  main .banners .banner p{
    font-size: 1.5rem;
  }
  
}