body{
  overflow: auto;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --dark-green: rgb(75, 180, 5);
  --light-green: rgb(203, 239, 218);
  --theme-green: rgb(241, 248, 244);
  --article-green: rgba(219, 245, 204, 0.908);
}
